# -> Standard checkers
# ---> start of checkers for avoiding warnings in tests is on -cert-err58-cpp,
Checks: '
  *,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -altera-id-dependent-backward-branch,
  -android-cloexec-open,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-union-access,
  -fuchsia-default-arguments-calls,
  -fuchsia-overloaded-operator,
  -google-build-using-namespace,
  -hicpp-named-parameter,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-callee-namespace,
  -llvmlibc-restrict-system-libc-headers,
  -llvm-header-guard,
  -misc-no-recursion,
  -modernize-use-trailing-return-type,
  -readability-avoid-const-params-in-decls,
  -readability-isolate-declaration,
  -readability-named-parameter,
  -cert-err58-cpp,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -fuchsia-statically-constructed-objects,
  -google-runtime-int,
  -hicpp-vararg,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -misc-non-private-member-variables-in-classes
'

# -> Checkers that should be auto fixed
#Checks: '
#  cppcoreguidelines-special-member-functions,
#  google-explicit-constructor,
#  google-readability-braces-around-statements,
#  google-readability-namespace-comments,
#  hicpp-braces-around-statements,
#  hicpp-explicit-conversions,
#  hicpp-noexcept-move,
#  hicpp-special-member-function,
#  hicpp-use-auto,
#  llvm-else-after-return,
#  readability-braces-around-statements,
#  readability-convert-member-functions-to-static,
#  readability-else-after-return,
#  readability-implicit-bool-conversion,
#  readability-redundant-member-init,
#  modernize-concat-nested-namespaces,
#  modernize-return-braced-init-list,
#  modernize-use-auto,
#  modernize-use-default-member-init,
#  modernize-use-nodiscard,
#  performance-noexcept-move-constructor
#'

# -> Configure specific checkers
CheckOptions:
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: 0;1;2;3;4;5;6;7;8;9;10;100;1000;16;32;64;128;255;512;1024;2048;4096;8192;16384;32768;32768;180;360
  - key: readability-magic-numbers.IgnorePowersOf2IntegerValues
    value: true
  - key: readability-magic-numbers.IgnoredFloatingPointValues
    value: 0.25;0.5;0.75;1.0;2.0;3.0;10.0;100.0;1000.0;0.1;0.001;0.0001;;-1.0;-2.0;-3.0;

