# -> Standard checkers
# -> Notes: 
# ---> The check misc-const-correctness flags too much errors (but its nice to have in the future).
# ---> The check cppcoreguidelines-virtual-class-destructor conflicts with hicpp-use-override and modernize-use-override
# ---> The check llvm-qualified-auto,readability-qualified-auto wants to change iterators to pointers
# ---> The check cppcoreguidelines-avoid-magic-numbers is disabled, but readability-magic-numbers is enabled.
Checks: '
  *,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -altera-id-dependent-backward-branch,
  -android-cloexec-open,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-virtual-class-destructor,
  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -fuchsia-overloaded-operator,
  -fuchsia-statically-constructed-objects,
  -google-build-using-namespace,
  -hicpp-named-parameter,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-callee-namespace,
  -llvmlibc-restrict-system-libc-headers,
  -llvm-header-guard,
  -llvm-include-order,
  -llvm-qualified-auto,
  -misc-const-correctness,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -modernize-use-trailing-return-type,
  -readability-avoid-const-params-in-decls,
  -readability-isolate-declaration,
  -readability-named-parameter,
  -readability-qualified-auto,
  -readability-magic-numbers,
  -readability-identifier-length,
  -hicpp-signed-bitwise
'
# -> Noisy checks
#  -readability-magic-numbers
#  -readability-identifier-length
#  -hicpp-signed-bitwise
#  -cppcoreguidelines-avoid-const-or-ref-data-members

# -> Configure specific checkers
CheckOptions:
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: 0;1;2;3;4;5;6;7;8;9;10;100;1000;16;32;64;128;255;512;1024;2048;4096;8192;16384;32768;32768;180;360
  - key: readability-magic-numbers.IgnorePowersOf2IntegerValues
    value: true
  - key: readability-magic-numbers.IgnoredFloatingPointValues
    value: 0.25;0.5;0.75;1.0;2.0;3.0;10.0;100.0;1000.0;0.1;0.001;0.0001;;-1.0;-2.0;-3.0;

