# Limit line length.
linelength=120
filter=-legal/copyright
filter=-whitespace
filter=-build/include_subdir
filter=-build/include_order
filter=-build/namespaces
filter=-runtime/references

# Don't search for additional CPPLINT.cfg in parent directories.
#set noparent
# Use 'ART_' as the cpp header guard prefix (e.g. #ifndef ART_PATH_TO_FILE_H_).
#root=..
# Ignore the following categories of errors, as specified by the filter:
# (the filter settings are concatenated together)
#filter=-build/c++11
#filter=-build/include
#filter=-readability/function,-readability/streams,-readability/todo
#filter=-runtime/printf,-runtime/references,-runtime/sizeof,-runtime/threadsafe_fn
## TODO: this should be re-enabled.
#filter=-whitespace/line_length