name: Debug Workflow

on:
  workflow_dispatch:
    inputs:
      cppProjects:
        description: 'C/C++ Project ("all" for all projects)'
        type: string
        required: true
        default: 'AprgAlgorithm'

jobs:

  debugJob:
    name: Perform debug
    runs-on: windows-latest
    steps:
        
      - name: Debug Steps
        shell: bash
        run: |
          gcc --version
          g++ --version
          cmake --version
          command -v gcc
          command -v g++
          command -v cmake
          choco install cmake ninja
          choco info cmake
          echo "cmake version: [$(cmake --version)]"
          choco info ninja
          echo "ninja version: [$(ninja --version)]"
          ninja --version
          command -v cmake
          command -v ninja
          choco install dependencywalker