name: Debug Workflow

on:
  workflow_dispatch:
    inputs:
      staticAnalysisJobId:
        description: 'Job Identifier'
        type: number
        required: true
        default: 0

jobs:

  debugBuild:
    name: Debug job
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Debug Prints
        run: |
          echo "cmake version: [$(cmake --version)]"
          choco search cmake
          choco install cmake
          choco info cmake
          echo "cmake version: [$(cmake --version)]"
          echo "ninja version: [$(ninja --version)]"
          choco search ninja
          choco install ninja
          choco info ninja
          echo "ninja version: [$(ninja --version)]"
          echo "clang version: [$(clang --version)]"
          echo "gsl version: [$(gsl --version)]"
          choco search gsl
          choco install gsl
          choco info gsl
          echo "gsl gsl: [$(gsl --version)]"
          #echo "boost version: [$(boost --version)]"
          choco search boost
          choco install boost-msvc-14.3
          choco info boost-msvc-14.3
          echo "boost version: [$(boost-msvc-14.3 --version)]"
          
