name: Run Static Analyzers With Auto Fixes Workflow

on:
  workflow_dispatch:
    inputs:
      cppCMakeProjects:
        description: 'C/C++ CMake Project (use "all" for all projects)'
        required: true
        default: 'all'

jobs:
  RunAutoFixesThenCommitPush:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Set up Git
        run: |
          git config user.name "aprgproject"
          git config user.email "aprgproject@gmail.com"
        
      - name: Make Changes
        run: |
          echo "Random number: $RANDOM" >> delete_this.txt
        
      - name: Push Changes
        run: |
          git add delete_this.txt
          git commit -m "APRG: Automatic commit for Static Analyzers With Auto Fixes"
          # set origin (fetch)
          git remote set-url origin https://$WORKFLOW_TOKEN@github.com/aprgproject/aprg
          # set origin (push)
          git remote set-url --push origin https://$WORKFLOW_TOKEN@github.com/aprgproject/aprg
          git remote -v
          GIT_TRACE=1 git push
        env:
          WORKFLOW_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
