name: Run Static Analyzers With Auto Fixes Workflow

on:
  workflow_dispatch:
    inputs:
      cppCMakeProjects:
        description: 'C/C++ CMake Project (use "all" for all projects)'
        required: true
        default: 'all'
env:
  determineCppProjectsRelativePath: "AllCommonScripts/GithubWorkflowScripts/DetermineCppProjects.sh"
  staticAnalysisScriptRelativePath: "AllCommonScripts/GithubWorkflowScripts/RunStaticAnalysisWithAutoFixes.sh"


jobs:
        
  determineCppProjects:
    name: Determine CPP Projects
    runs-on: ubuntu-latest
    outputs:
      projectsToBuild: ${{ steps.idOfGetCppProjectStep.outputs.APRG_CPP_DIRECTORIES }}
    steps:
      - name: Checkout code for changes checking
        id: idOfCheckout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 2
      - name: Get C/C++ Projects from Git Diff and User Input
        id: idOfGetCppProjectStep
        run: |
          determineCppProjectsPath=$(realpath "$(pwd)/${{ env.determineCppProjectsRelativePath }}")
          echo "determineCppProjectsPath: [$determineCppProjectsPath]"
          chmod +x "$determineCppProjectsPath"
          "$determineCppProjectsPath" checkUserInput "${{ inputs.cppCMakeProjects }}"
          
          
  runStaticAnalyzersOnCppProjects:
    name: Auto fix ${{ matrix.project }} using Static Analyzers 
    needs: determineCppProjects
    runs-on: ubuntu-latest
    steps:
          
      - name: Print Job Details
        run: |
          echo github.event.action: ${{ github.event.action }}
          echo github.event_name: ${{ github.event_name }}
          
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Set up Git
        run: |
          git config user.name "aprgproject"
          git config user.email "aprgproject@gmail.com"
          # set origin (fetch)
          git remote set-url origin https://$WORKFLOW_TOKEN@github.com/aprgproject/aprg
          # set origin (push)
          git remote set-url --push origin https://$WORKFLOW_TOKEN@github.com/aprgproject/aprg
          # git remote -v
        env:
          WORKFLOW_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install ninja-build cmake
          echo "cmake version: [$(cmake --version)]"
          echo "ninja version: [$(ninja --version)]"
          echo "clang version: [$(clang --version)]"
          sudo apt-get install libboost-all-dev
          echo "libboost-all-dev version (dpkg): [$(dpkg -l | grep libboost-all-dev)]"
          sudo apt-get install libgsl-dev
          echo "libgsl-dev version (dpkg): [$(dpkg -l | grep libgsl-dev)]"
          sudo apt-get install p7zip-full
          echo "p7zip-full version (dpkg): [$(dpkg -l | grep p7zip-full)]"
          sudo apt-get install clang-tidy cppcheck clazy
          echo "clang-tidy version: [$(clang-tidy --version)]"
          echo "cppcheck version: [$(cppcheck --version)]"
          echo "clazy version: [$(clazy --version)]"
            
      - name: Build and Run with Static Analyzers
        shell: bash
        run: |
          staticAnalysisScriptPath=$(realpath "$(pwd)/${{ env.staticAnalysisScriptRelativePath }}")
          echo "pwd: [$(pwd)]"
          echo "staticAnalysisScriptPath: [$(staticAnalysisScriptPath)]"
          "$staticAnalysisScriptPath"  "${{ needs.determineCppProjects.outputs.projectsToBuild }}"
        
      - name: Make Changes
        run: |
          git add -u
          git diff --cached | head -n 100
        
      - name: Commit and Push Changes
        run: |
          git commit -m "APRGPROJECT: Automatic commit for Static Analyzers with Auto Fixes"
          echo "last step is push"
          #git push
